LIBC_STDLIB_CFLAGS=
LIBC_STDLIB_LDFLAGS=

LIBC_STDIO_OBJS=\
src/stdio/fclose.o
src/stdio/feof.o
src/stdio/ferror.o
src/stdio/fflush.o
src/stdio/fget.o
src/stdio/fgets.o
src/stdio/fileno.o
src/stdio/flockfile.o
src/stdio/fprintf.o
src/stdio/fputc.o
src/stdio/fputs.o
src/stdio/fscanf.o
src/stdio/fseek.o
src/stdio/fseeko.o
src/stdio/ftell.o
src/stdio/ftrylockfile.o
src/stdio/funlockfile.o
src/stdio/fwrite.o
src/stdio/getc.o
src/stdio/getechar.o
src/stdio/make.confio
src/stdio/printf.o
src/stdio/putchar.o
src/stdio/putchar.o
src/stdio/putchar.o
src/stdio/puts.o
