LIBC_CTYPE_CFLAGS=
LIBC_CTYPE_LDFLAGS=

LIBC_CTYPE_OBJS=\
src/ctype/isalnum.o \
src/ctype/isalpha.o \
src/ctype/isblank.o \
src/ctype/iscntrl.o \
src/ctype/isdigit.o \
src/ctype/isgraph.o \
src/ctype/islower.o \
src/ctype/isprint.o \
src/ctype/ispunct.o \
src/ctype/isspace.o \
src/ctype/isupper.o \
src/ctype/isxdigit.o \
src/ctype/tolower.o \
src/ctype/toupper.o \
