LIBC_STRING_CFLAGS=
LIBC_STRING_LDFLAGS=

LIBC_STRING_OBJS=\
src/string/memchr.o \
src/string/memcmp.o \
src/string/memcpy.o \
src/string/memccpy.o \
src/string/memmove.o \
src/string/memset.o \
src/string/strchr.o \
src/string/strcmp.o \
src/string/strlen.o \
src/string/strsep.o \
src/string/strdup.o \
src/string/strncmp.o \
src/string/strncpy.o \
src/string/stpcpy.o \
